body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(217, 100%, 97%);
  cursor: default;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{
  margin: 2% auto;
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 600px;
  background-color: white;
  border-radius: 15px;
  gap: 5%;
}

#steps{
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background: 
    url('./assets/images/bg-sidebar-desktop.svg') 
    no-repeat left top / 100%;
  width: 25%;
  margin: 2%;
  padding: 3% 2%;
}

#steps div{
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0 5%;
  margin-bottom: 5%;
}

#steps div button{
  grid-row: span 2;
  width: 40px;
  height: 40px;
  border: solid 1px white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  border-radius: 50px;
  transition: .3s;
}

.currStep{
  background-color: hsl(217, 100%, 97%);
  color: hsl(213, 96%, 18%);
}

.step{
  background-color: transparent;
  color: white;
}

#steps div h1{
  font-size: 13px;
  margin: 0 0 2% 0;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
}

#steps div h2{
  font-size: 18px;
  margin: 0;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
}

.backBtn{
  border-style: none;
  background-color: transparent;
  font-family: 'Ubuntu', sans-serif;
  color: hsl(231, 11%, 63%);
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 1px;
  width: 25%;
  height: 50px;
  transition: .3s;
}

.backBtn:hover{
  color: hsl(213, 96%, 18%);
}

.nextBtn{
  width: 25%;
  height: 50px;
  border-style: none;
  border-radius: 10px;
  background-color: hsl(213, 96%, 18%);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  color: white;
  letter-spacing: 1px;
  transition: .3s;
}

.nextBtn:hover{
  background-color: hsl(213, 96%, 28%);
  cursor: pointer;
}

#personalForm{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 2%;
  position: relative;
}

.secHeadline{
  margin: 5% 0 2% 0;
  font-size: 25px;
  color: hsl(213, 96%, 18%);
}

.secSecondLine{
  margin: 0;
  font-size: 15px;
  color: hsl(231, 11%, 63%);
}

#personalForm form{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#personalForm form label{
  color: hsl(213, 96%, 18%);
  font-size: 13px;
  font-weight: 700;
  margin: 3% 0 1% 0;
}

#personalForm form input{
  grid-column: span 2;
  height: 40px;
  border-radius: 10px;
  border: solid 1px hsl(231, 11%, 63%);
  font-family: 'Ubuntu', sans-serif;
  padding-left: 3%;
  cursor: pointer;
}

.error{
  font-size: 13px;
  margin: 3% 0 1% 0;
  color: hsl(354, 84%, 57%);
  text-align: end;
}

#personalForm form input:focus{
  border: solid 1px hsl(213, 96%, 18%);
  outline-offset: 0px;
  outline: none;
}

#personalForm button{
  position: absolute;
  bottom: 0;
  right: 0;
}

#yuorPlan{
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  width: 50%;
  margin: 2%;
  gap: 2%;
}

#yuorPlan h3{
  grid-column: span 3;
  height: 50%;
}

#yuorPlan p{
  grid-column: span 3;
  height: 50%;
  margin-top: -6%;
}

.opt{
  border: solid 2px hsl(229, 24%, 87%);
  border-radius: 10px;
  cursor: pointer;
  transition: .5s;
  display: flex;
  flex-direction: column;
  padding: 10% 10% 0 10%;
  height: 200px;
}

.opt img{
  width: 33%;
  margin-bottom: 50%;
}

.opt h4{
  margin: 0;
  font-size: 20px;
  color: hsl(213, 96%, 18%);
}

.opt h5{
  margin: 5% 0 0 0;
  font-size: 15px;
  color: hsl(231, 11%, 63%);
  font-weight: 300;
}

.opt h6{
  margin: 5% 0 0 0;
  font-size: 15px;
  color: hsl(213, 96%, 18%);
}

.selected{
  border: solid 2px hsl(243, 100%, 62%);
  background-color: hsl(217, 100%, 97%);
}

.subOpt{
  grid-column: span 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0 25%;
  background-color: hsl(217, 100%, 97%);
  height: 50%;
  border-radius: 10px;
}

.subOpt h6{
  color: hsl(231, 11%, 63%);
  font-size: 15px;
  transition: .3s;
}

.subOpt .checked{
  color: hsl(213, 96%, 18%);
}

.navBtns{
  grid-column: span 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: end;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(213, 96%, 18%);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: hsl(213, 96%, 18%);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#addOns{
  width: 50%;
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

#addOns p{
  margin-top: -5%;
}

.addOn{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  border: solid 1.5px hsl(243, 100%, 62%);
  border-radius: 10px;
  padding: 2% 0;
  transition: background-color 0.3s ease;
}

.addOn.checked{
  background-color: hsl(217, 100%, 97%);
}

.checkBox{
  grid-row: span 2;
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  height: 45%;
  margin-left: 40%;
  pointer-events: none;
}

.checkBox input{
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkmark{
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border: solid 1.5px hsl(243, 100%, 62%);
  border-radius: 5px;
  transition: .3s;
}

.checkBox input:checked ~ .checkmark{
  background-color: hsl(243, 100%, 62%);
}

.checkmark:after{
  content: "";
  position: absolute;
  display: none;
}

.checkBox input:checked ~ .checkmark:after {
  display: block;
}

.checkBox .checkmark:after{
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid 1.5px white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.addOn h4{
  margin: 0;
  color: hsl(213, 96%, 18%);
  font-size: 17px;
}

.addOn p{
  margin: 0;
  color: hsl(231, 11%, 63%);
  font-size: 15px;
}

.addOn h5{
  grid-row: span 2;
  color: hsl(243, 100%, 62%);
  font-size: 15px;
  margin: 25% 0;
}

#addOns .navBtns{
  margin-top: 20%;
  width: 100%;
}

#finishingUp{
  width: 50%;
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainFrame{
  display: flex;
  flex-direction: column;
  background-color: hsl(217, 100%, 97%);
  border-radius: 10px;
  padding: 5%;
}

.planShow{
  display: grid;
  grid-template-columns: 3fr 1fr;
  border-bottom: solid 1px hsl(231, 11%, 63%);
  padding-bottom: 10%;
}

.planShow h4{
  margin: 0 0 2% 0;
  color: hsl(213, 96%, 18%);
  font-size: 15px;
}

.planShow h5{
  grid-row: span 2;
  text-align: center;
  margin: 0;
  color: hsl(213, 96%, 18%);
  font-size: 20px;
  padding-top: 10%;
  text-align: end;
}

#finishingUp a{
  color: hsl(231, 11%, 63%);
  text-decoration: underline;
  cursor: pointer;
  font-size: 15px;
  margin: 0;
}

.addonsShow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.addonsShow h4{
  color: hsl(231, 11%, 63%);
  font-size: 13px;  
  font-weight: 500;
}

.addonsShow h5{
  color: hsl(213, 96%, 18%);
}

.sumAdds{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5% 5%;
}

.sumAdds h5{
  color: hsl(231, 11%, 63%);
  font-size: 15px;
  font-weight: 500;
  margin: 0;
}

.sumAdds h6{
  color: hsl(213, 96%, 18%);
  font-size: 20px;
  margin: 0;
}

#finishingUp .navBtns{
  width: 100%;
}

.confBtn{
  width: 25%;
  height: 50px;
  border-style: none;
  border-radius: 10px;
  background-color: hsl(243, 100%, 62%);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  color: white;
  letter-spacing: 1px;
  transition: .3s;
  cursor: pointer;
}

.confBtn:hover{
  background-color: hsl(243, 100%, 72%);
}

#finnalStep{
  width: 50%;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}